h4{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    color: black;
}

#forms{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    color: black;
}

#borda{
    border-style: solid;
    border-color: black;
    padding: 40px;
    background-color: #658da7; 
}

select{
    margin-top: 20px;
    margin-bottom: 20px;
}

#problema{
    width: 500px;
    height: 50px;
}

#submit{
    display: flex;
    justify-content: center;
    padding-top: 10px;   
    padding-bottom: 70px;
}

button{
    width: 90px;
    font-size: medium;
}