#aboutus{
    background-color: #013766;
    font-weight: bold;
    color: black;
    opacity: 0.95;
}

#descricao{
    text-align: center;
    font-size: larger;
    padding-top: 30px;
    padding-bottom: 30px;
}

h6{
    margin-block-end: 1.3em;
    margin-block-start: 1.75em;
    font-weight: bold;
    color: black;
}

#membros{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.foto{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-align: center;
}

.FotoMembro{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}