#Footer{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #262927;
    align-items: center;
    text-decoration: None;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    height: 80px;
}

.foot-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    padding: 5px 00px 0px 7px;
    background-color: #262927;
    cursor:pointer;
    transition: background .3s;
    border-radius: 6px;
    margin: 0 50px;
    font-size: 15px;
    width: 120px;
    height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.foot-link:hover{
    background-color: #ffffff;
    color: black;
}
